body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--fog);
  font-weight: 200;
  font-size: 18px;
  color: var(--black-100);
}

main {
  font-size: 1.4em;

  a {
    color: #00505c;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }

  strong {
    font-weight: 400;
  }

  > h1 {
    color: var(--cardinal);
    display: inline-block;
    font-size: 1.4em;
    font-weight: 400;
    left: 50%;
    margin-bottom: 1em;
    padding-bottom: 0.125em;
    position: relative;
    text-transform: uppercase;
    transform: translateX(-50%);

    &:after {
      animation: 1200ms cubic-bezier(0.25, 0.8, 0.25, 1) 1 headerUnderline;
      background-color: var(--cardinal);
      bottom: -2px;
      content: "";
      height: 1px;
      left: 0;
      left: 0%;
      position: absolute;
      width: 100%;
      width: 100%;
    }
  }

  > h2 {
    border-bottom: 1px solid currentColor;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    left: 50%;
    margin: 2em auto 1em;
    padding-bottom: 0.125em;
    position: relative;
    transform: translateX(-50%);
  }
}

p + p {
  margin-top: 1em;
}

@keyframes headerUnderline {
  0% {
    left: 50%;
    width: 0%;
  }
}
