:root {
  --black-100: #2e2d29;
  --cool-grey: #53565a;

  --cardinal: #8c1515;
  /* --lagunita-dark: #006b81; */ /* The proper value for Lagunita Dark doesn't provide enough a11y contrast */
  --lagunita-dark: #005b71;

  --fog: #dad7cb;
  --fog-light: #f4f4f4;

  --stone: #7f7776;
  --stone-light: #d4d1d1;

  --wrap: min(1000px, 90vw);
}

@media (--lg-n-above) {
  html {
    --wrap: 70vw;
  }
}
