---
import cidrLogo from "../assets/cidr.trsp.300x176.png";

import Nav from "./Nav.astro";
---

<header role="banner">
  <a href={Astro.site.pathname}>
    <img src={cidrLogo} alt="Center for Interdisciplinary Digital Research" />
  </a>
  <Nav />
</header>

<style>
  header {
    text-align: center;
  }
</style>
