---
import cidrLogo from "../assets/cidr.trsp.no-text.280x140.png";

import Nav from "./Nav.astro";
---

<header role="banner">
  <div>
    <a href={Astro.site.pathname}>
      <img
        src={cidrLogo}
        alt="Center for Interdisciplinary Digital Research"
        height="70"
        width="140"
      />
    </a>
    <span>Center for Interdisciplinary Digital Research</span>
  </div>
  <Nav />
</header>

<style>
  header {
    --sticky-offset: 77px;

    background-color: var(--fog-light);
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 40%);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 0.25em;
    position: sticky;
    top: 0;
    z-index: 4;
  }

  div {
    align-items: center;
    background-color: var(--fog-light);
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: center;
    margin: 0 50px 0 auto;
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: var(--wrap);
  }

  span {
    border-color: var(--fog);
    border-style: solid;
    border-width: 1px 0;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: -6px;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 0 6px white;
  }

  img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    height: 35px;
    width: 70px;
  }

  @media screen and (min-width: 690px) {
    div {
      justify-content: flex-start;
    }

    img {
      width: 140px;
      height: 70px;
    }

    span {
      font-size: 1.3em;
      margin-bottom: -20px;
    }
  }

  @media screen and (min-width: 750px) {
    /* switch to un-collapsed nav at this breakpoint */
    header {
      --sticky-offset: 77px;
      padding-bottom: 1em;
      top: calc(0px - var(--sticky-offset) - 0.5em);
    }

    div {
      align-items: flex-end;
      flex-direction: row;
      margin: 0 auto;
      padding-left: 0;
    }

    span {
      font-size: 1.4em;
      margin-bottom: 6px;
    }
  }

  @media screen and (min-width: 980px) {
    span {
      font-size: 1.8em;
      margin-bottom: 2px;
    }
  }
</style>

<script is:inline>
  // if javascript is available, set an accurate value for --sticky-offset
  //  (reasonable defaults are used if javascript is not available)
  const header = document.querySelector("header[role='banner']");
  const setStickyOffset = () => {
    header.style.setProperty(
      "--sticky-offset",
      header.querySelector("div").getBoundingClientRect().height + "px",
    );
  };
  window.addEventListener("load", setStickyOffset);
  window.addEventListener("resize", setStickyOffset);
</script>
