---
import Icon from "./Icon.astro";
const links = [
  { label: "Home", icon: "home", url: "" },
  { label: "Developers", url: "developers/" },
  { label: "ATS Program", url: "ats-program/" },
  { label: "Projects", url: "projects/" },
  { label: "Workshops", url: "workshops/" },
  { label: "Consulting", url: "consulting/" },
  { label: "Data", url: "data/" },
];
---

<nav>
  {links.map(({ label, url, icon = false }) => (
    <a
      class={
        Astro.canonicalURL.pathname === Astro.site.pathname + url
          ? "active"
          : null
      }
      href={
        Astro.canonicalURL.pathname === Astro.site.pathname + url
          ? null
          : Astro.site.pathname + url
      }
      aria-label={icon ? label : null}
    >
      {icon ? <Icon name={icon} /> : label}
    </a>
  ))}
</nav>

<style>
  nav {
    align-items: center;
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--cardinal);
    font-size: 1.4em;

    &[href] {
      &:after {
        background-color: var(--cardinal);
        bottom: -1px;
        content: "";
        height: 1px;
        left: 50%;
        pointer-events: none;
        position: absolute;
        transition-duration: 400ms;
        transition-property: width, left;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 0%;
      }

      &:focus,
      &:hover {
        color: var(--black-1);

        &:after {
          left: 0%;
          width: 100%;
        }
      }
    }

    &:not([href]) {
      color: var(--black-1);

      &:after {
        background-color: var(--cardinal);
        bottom: -2px;
        content: "";
        height: 2px;
        pointer-events: none;
        position: absolute;
        width: 100%;
        left: 0%;
      }
    }

    :global(svg) {
      transform: translateY(3px);
      vertical-align: baseline;
    }
  }
</style>
