---
import projects from "../data/projects.yaml";
---

{projects.map(async (project) => {
  // const { default: image } = await import(project.image)
  // let vid
  // if (project.video) {
  //   ;({ default: vid } = await import(project.video))
  // }
  return (
    <section>
      <header>{project.title}</header>
      <article>
        {project.video ? (
          <video src={Astro.site.pathname + project.video} loop muted />
        ) : (
          <img src={Astro.site.pathname + project.image} alt={project.title} />
        )}
        {project.text}
      </article>
    </section>
  )
})}

<script>
  document.querySelectorAll("section").forEach((section) => {
    const vid = section.querySelector("video");
    if (!vid) return;
    section.addEventListener("mouseover", vid.play.bind(vid));
    section.addEventListener("mouseout", vid.pause.bind(vid));
  });
</script>

<style>
  section {
    margin-top: 2em;
    position: relative;
    transition: transform 0.1s ease-in-out;

    &::before {
      border-radius: 0.25em;
      content: "";
      display: block;
      height: calc(100% + 1.5em);
      left: -1em;
      position: absolute;
      top: -0.5em;
      transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
      width: calc(100% + 2em);
      z-index: -1;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:hover::before {
      background-color: var(--fog-light);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      transition: box-shadow 0.1s ease-in-out, background-color 0.4s ease-in-out;
    }
  }

  header {
    color: var(--cardinal);
    font-size: 2rem;
    font-variant: petite-caps;
    font-weight: 400;
    text-align: right;
  }

  article {
    font-size: smaller;
    overflow: hidden;
    text-align: justify;

    img,
    video {
      float: left;
      margin: 0 1em 0.5em 0;
    }
  }

  section:nth-child(even) {
    header {
      text-align: left;
    }

    article {
      img {
        float: right;
        margin: 0 0 0.5em 1em;
      }
    }
  }
</style>
